---
---

@import "{{ site.theme }}";
.project-tagline {display:none;}
.main-content h2 {color:#019C86; font-weight: bold; margin-top: 4rem;}
.main-content h3 {color:#666; font-weight: bold;}
.main-content hr {
    height: 1px;
    margin: 2rem 0;
    background-color: #333333;
    }
img {border:1px solid #606c71;}
.page-header {background-color: #019C86; background-image: linear-gradient(120deg, #155799, #019C86);}
a {text-decoration: underline;}
button, html input[type="button"] 
{
    color: #FFFFFF;
    background-color: #A6005E;
    -webkit-transition: 0.1s ease-out background-color;
    transition: 0.1s ease-out background-color;
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #A6005E;
    border-bottom: 2px solid #8d0050;
    padding: .5em 1em;
    border-radius: 2px;
    margin-bottom: .5em;
    margin-right: .3em;
    text-decoration: none;
}
button, html input[type="button"]:hover
{
    background-color: #b8337e;
    color: #FFFFFF;
}
button, html input[type="button"]:active
{
    background-color: #8d0050;
}
